<div class="sm:col-span-2 md:col-span-4 flex flex-col  flex-auto bg-card m-6 shadow rounded-1xl overflow-hidden">
<div class="xl:col-span-2 flex flex-col flex-auto  overflow-hidden">
  <div *ngIf="Loader"  class="wrapper-loader mx-auto mt-6">
    <img class="wrapper-loader mx-auto"
        style="width: 100px; margin-left: auto; margin-right: auto;"
        src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
</div>
<div  *ngIf="!Loader" >
  <div class=" flex justify-between  bg-gray-800 p-2 px-6" style="align-items: center;">
    <span class="text-white font-medium" style="font-size: 17px;">Application Users Status</span>
    <button  class="rounded  bg-white" mat-stroked-button (click)="addNewStatus()">Add User Status</button>
  </div>

  <form [formGroup]="statusForm"  >
    <div class="flex justify-end mt-2" style="align-items: center;">
         <mat-form-field class="example-full-width mr-6 " style="width: 200px;">
         <input matInput type="search" formControlName="search" placeholder="Search" (keyup)="applyFilter($event.target.value)">
         <div *ngIf="searchLoader" class="wrapper-loader">
          <img class="img-fluid"
                style="width: 30px; margin-left: auto; margin-right: auto;"
                src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
        </div>
        </mat-form-field>
     </div>
  <div class="mat-elevation-z8 mx-6 mb-6" style="overflow-x: auto;"> 
  <div *ngIf="this.userStatusListData?.length != 0">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
    
    <ng-container matColumnDef="Sr.No">
      <th mat-header-cell *matHeaderCellDef > Sr.No </th>
      <td mat-cell *matCellDef="let element; let i = index"  style="width: 180px;">
          {{ (page - 1) * pageSize + i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" style="width: 180px;">
        <button  class=" mr-2" mat-icon-button (click)="editUserStatus(element.id)"><mat-icon class="icon-size-5 text-blue-500">edit</mat-icon></button>
        <button  class=" ml-2" mat-icon-button (click)="deleteUserStatus(element.id)"><mat-icon class="icon-size-5 text-red-600">delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="flex justify-end" style="align-items: center;">
    <mat-paginator [pageSize]="pageSize" (page)="onPageChange($event)" [pageSizeOptions]="[5,10,25,100]" [length]="recordsFiltered" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
<div *ngIf="this.userStatusListData?.length === 0 " class="text-center py-3">No records found</div>

  </div>
</form> 
</div>
</div>
</div>


