
<div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto bg-card m-6 shadow rounded-1xl overflow-hidden">
    <div class="xl:col-span-2 flex flex-col flex-auto  overflow-hidden">

      <div *ngIf="listLoader"  class="wrapper-loader mx-auto mt-6">
        <img class="wrapper-loader mx-auto"
            style="width: 100px; margin-left: auto; margin-right: auto;"
            src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
     </div>
    <div  *ngIf="!listLoader" >
      <div class=" flex justify-between  bg-gray-800 p-2 px-6" style="align-items: center;">
        <span class="text-white font-medium" style="font-size: 17px;">Career</span>
        <button  class="rounded  bg-white" mat-stroked-button (click)="addCareerDetails()">Add Career</button>
      </div>
      <form [formGroup]="careerListData" >
      <div class="flex justify-end mt-2" style="align-items: center;">
            <mat-form-field class="example-full-width mr-6 " style="width: 200px;">
            <input matInput type="search" formControlName="search" placeholder="Search" (keyup)="applyFilter($event.target.value)">
            <div *ngIf="searchLoader" class="wrapper-loader">
              <img class="img-fluid"
                    style="width: 30px; margin-left: auto; margin-right: auto;"
                    src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
            </div>
          </mat-form-field>
      </div>
      <div class="mat-elevation-z8 mx-6 mb-6" style="overflow-x: auto;">

      <div *ngIf="careerList?.length != 0">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

        <ng-container matColumnDef="Sr.No">
          <th mat-header-cell *matHeaderCellDef > Sr.No </th>
          <td mat-cell *matCellDef="let element; let i = index" style="width: 80px;">
              {{ (page - 1) * pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
          <td mat-cell *matCellDef="let element" style="display: flex; justify-content: center; align-items: center;">
            <div class="w-15 h-15 " style="display: flex; justify-content: center; align-items: center;">
              <img [src]="element.image" (click)="openImgDialog(element.image)" alt="Career Image" style="max-width: 100%; max-height: 70%;"/>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element" style="width: 500px">
            <div *ngIf="!element.showFullDescription">
              {{ element.description | slice:0:50 }} <span *ngIf="element.description.length > 10">...
              <a class="cursorpointer" (click)="toggleDescription(element)">Read more</a></span>
            </div>
            <div *ngIf="element.showFullDescription">
              {{ element.description }}
              <a class="cursorpointer"  (click)="toggleDescription(element)">Show less</a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="category" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element">
                {{ element.status == 1 ? 'Active' : element.status == 0 ? 'Inactive' : 'Unknown' }}
            </td>
        </ng-container> -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element">
            <p [ngClass]="{
               'active': element.status == 1,
               'inactive': element.status == 0,
               'unknown': element.status == 2
           }" style="margin:auto">
               {{ element.status == 1 ? 'Active' : element.status == 0 ? 'Inactive' : 'Unknown' }}
           </p>
       </td>
         </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element" style="width: 180px;">
            <button  class=" mr-2 " mat-icon-button (click)="editCareerDetails(element.id)"><mat-icon class="icon-size-5 text-blue-500">edit</mat-icon></button>
            <button  class=" ml-2" mat-icon-button (click)="deleteCareerDetails(element.id)"><mat-icon class="icon-size-5 text-red-600">delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="flex justify-end" style="align-items: center;">
        <mat-paginator [pageSize]="pageSize" (page)="onPageChange($event)" [pageSizeOptions]="[5,10,25,100]"  [length]="recordsFiltered"  showFirstLastButtons>
        </mat-paginator>
      </div>
      </div>
      <div *ngIf="careerList?.length === 0 " class="text-center py-3">No records found</div>
    </div>
    </form>
    </div>
      </div>
</div>
<div class="popcenter">
  <ng-template #callAPIDialog>
      <div class="flex flex-auto justify-between overflow-hidden relative"
          *ngIf="showAllDocImg == 1 && ImagedocumentType=='alldocOpenImage'">
          <h2 matDialogTitle class="font-medium text-xl">viewImage</h2>
      </div>
      <div class="p-6 overflow-hidden max-w-full" style="width: 50vw;">
          <mat-icon svgIcon="mat_outline:close"
              style="color: red; cursor: pointer; position: absolute; z-index: 111; top: 25%; left: 74%;"
              matDialogClose="yes" (click)="close()"></mat-icon>
          <div class="max-w-10xl">
              <img style="height: 270px;"
                  class="position-relative maxwh cursorpointer" title=""
                  src="{{image}} " accept="image" />
          </div>
      </div>
  </ng-template>
</div>

