<div class="flex flex-col flex-auto min-w-0">
    <div *ngIf="Loader"  class="wrapper-loader mx-auto mt-6">
        <img class="wrapper-loader mx-auto"
            style="width: 100px; margin-left: auto; margin-right: auto;"
            src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
    </div>
    <div *ngIf="!Loader" class="flex-auto ">
        <div class="w-full p-6 mx-auto">
            <form [formGroup]="imagesForm" >
                <div class=" bg-card shadow rounded-2xl">
                        <div class=" flex justify-between  bg-gray-800 p-2 px-6" style="align-items: center;">
                            <span class="text-white font-medium" style="font-size: 17px;">College Images</span>
                            <button  class="rounded  bg-white" mat-stroked-button (click)="back()">Back</button>
                        </div>
                        <!-- <div class="grid grid-cols-1  gap-6 px-6 pt-3 gap-y-0 w-full min-w-0">
                            <div>
                                <span class="red">Note: Image must be in png or jpg format with dimension 200px x 300px and must be within 100kb</span>
                            </div>
                        </div> -->
                        <div class="p-6 pb-0 grid grid-cols-6 sm:grid-cols-6 md:grid-cols-12 gap-4 gap-y-2 w-full min-w- docimg">
                            <div *ngFor="let item of multipleCollegeImages; let i = index" class="border rounded bg-gray-50">
                                <div class="relative">
                                    <mat-icon class="icon-size-5 " style="color: red; cursor: pointer; position: absolute; right:2px" (click)="deleteDoc(item.id,i)">close</mat-icon>
                                    <img src="{{item.image}}" accept="image" class="cover" style="object-fit: contain;
                                    height: 50px;"
                                    (click)="openImgDialog(item.image)" />
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 pb-0 gap-y-0 w-full min-w-0">
                            <mat-label class="normallabel mb-1">College Photo<span class="red"> 250px x 250px(JPEG, PNG,JPG)*</span></mat-label>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 px-6 gap-y-0 w-full min-w-0">
                        <div class="flex flex-row items-center flex-auto overflow-hidden">
                            <div>
                                <input id="image-file-input1"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none bg-white"
                                    (change)="onFileChange($event,'collegeDocument',$event.target.files)"
                                    type="file" [multiple]="false"
                                    [accept]="'image/jpg,image/jpeg,image/png,application/pdf'" #imageFileInput1 />
                                    <label
                                    class="flex items-center justify-center w-28 h-10 text-black rounded cursor-pointer uplodBtn"
                                    for="image-file-input1" matRipple>
                                    <mat-icon svgIcon="mat_outline:add_photo_alternate"
                                        class="text-black w-4 h-4 min-w-0"></mat-icon>
                                    <span class="ml-1 mr-1 black">Upload</span>
                                </label>
                            </div>
                            <div *ngIf="showLoader" class="wrapper-loader ml-6">
                                <img class="img-fluid"
                                    style="width: 30px; margin-left: auto; margin-right: auto;"
                                    src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                            </div>
                            <!-- <div *ngIf="!showLoader" class="ml-4">
                                <div class="border rounded bg-gray-50"
                                    *ngIf="imagesForm.value.collegeDocument_FrontFileType =='IMG'">
                                    <img class="position-relative shadow-sm maxwh cursorpointer cover"
                                        style="object-fit: contain; height: 50px;"
                                        (click)="openImgDialog(imagesForm.value.collegeDocument_FrontFilePath)"
                                        src="{{imagesForm.value.collegeDocument_FrontFilePath}}"
                                        accept="image" />
                                </div>
                            </div> -->
                            <div class="p-2 ml-3 col-span-5 w-full ">
                                <div
                                    class="flex">
                                    <div class="flex mr-3 w-20 h-15 rounded-full relative"
                                        *ngFor="let docs of docs; let i = index;">
                                        <mat-icon class="icon-size-5 " style="color: red; cursor: pointer; position: absolute; top:3px; right:2px" (click)="deletClgeDoc(docs,i)">close</mat-icon>
                                        <img src="{{docs}}" style="object-fit: contain;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 pb-0 gap-y-0 w-full min-w-0">
                            <mat-label class="normallabel mb-1">College Logo<span class="red"> 200px * 200px(JPEG, PNG,JPG)*</span></mat-label>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 px-6 gap-y-0 w-full min-w-0">
                            <div class="flex flex-row items-center flex-auto overflow-hidden">
                                <div>
                                    <input id="image-file-input2"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none bg-white"
                                        (change)="onFileChange($event,'logoDocument',$event.target.files)"
                                        type="file" [multiple]="false"
                                        [accept]="'image/jpg,image/jpeg,image/png,application/pdf'" #imageFileInput2 />
                                        <label
                                        class="flex items-center justify-center w-28 h-10 text-black rounded cursor-pointer uplodBtn"
                                        for="image-file-input2" matRipple>
                                        <mat-icon svgIcon="mat_outline:add_photo_alternate"
                                            class="text-black w-4 h-4 min-w-0"></mat-icon>
                                        <span class="ml-1 mr-1 black">Upload</span>
                                    </label>
                                </div>
                                <div *ngIf="showLoader2" class="wrapper-loader ml-6">
                                    <img class="img-fluid"
                                        style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                                </div>
                                <div *ngIf="!showLoader2" class="ml-4">
                                    <div class="border rounded bg-gray-50"
                                        *ngIf="imagesForm.value.logoDocument_FrontFileName != ''">
                                        <img class="position-relative shadow-sm maxwh cursorpointer cover"
                                            style="object-fit: contain; height: 50px;"
                                            (click)="openImgDialog(imagesForm.value.logoDocument_FrontFilePath)"
                                            src="{{imagesForm.value.logoDocument_FrontFilePath}}"
                                            accept="image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 pb-0 gap-y-0 w-full min-w-0">
                            <mat-label class="normallabel mb-1">College Banner<span class="red"> 1200px x 300px(JPEG, PNG,JPG)*</span></mat-label>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 px-6 gap-y-0 w-full min-w-0">
                                <div class="flex flex-row items-center flex-auto overflow-hidden">
                                    <div>
                                        <input id="image-file-input3"
                                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none bg-white"
                                            (change)="onFileChange($event,'bannerDocument',$event.target.files)"
                                            type="file" [multiple]="false"
                                            [accept]="'image/jpg,image/jpeg,image/png,application/pdf'" #imageFileInput3 />
                                            <label
                                            class="flex items-center justify-center w-28 h-10 text-black rounded cursor-pointer uplodBtn"
                                            for="image-file-input3" matRipple>
                                            <mat-icon svgIcon="mat_outline:add_photo_alternate"
                                                class="text-black w-4 h-4 min-w-0"></mat-icon>
                                            <span class="ml-1 mr-1 black">Upload</span>
                                        </label>
                                    </div>
                                    <div *ngIf="showLoader3" class="wrapper-loader ml-6">
                                        <img class="img-fluid"
                                            style="width: 30px; margin-left: auto; margin-right: auto;"
                                            src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                                    </div>
                                    <div *ngIf="!showLoader3" class="ml-4">
                                        <div class="border rounded bg-gray-50"
                                            *ngIf="imagesForm.value.bannerDocument_FrontFileName !=''">
                                            <img class="position-relative shadow-sm maxwh cursorpointer cover"
                                                style="object-fit: contain; height: 50px;"
                                                (click)="openImgDialog(imagesForm.value.bannerDocument_FrontFilePath)"
                                                src="{{imagesForm.value.bannerDocument_FrontFilePath}}"
                                                accept="image" />
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1  gap-6 p-6  gap-y-0 w-full min-w-0">
                        <div class="flex  items-center flex-auto overflow-hidden justify-end ">
                            <button *ngIf="!updateButton" class="fuse-mat-button-rounded " mat-flat-button (click)="collegeSaveDoc()">
                                <span  *ngIf="!addLoader">Submit</span>
                                <div *ngIf="addLoader" class="wrapper-loader">
                                    <img class="img-fluid"
                                        style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                                </div>
                            </button>
                            <button *ngIf="updateButton" class="fuse-mat-button-rounded " mat-flat-button (click)="collegeSaveDoc()">
                                <span  *ngIf="!updateLoader">Update</span>
                                <div *ngIf="updateLoader" class="wrapper-loader">
                                    <img class="img-fluid"
                                        style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                                </div>
                            </button>
                        </div>
                    </div>
                    </div>
            </form>
         </div>
    </div>
</div>
<div class="popcenter">
    <ng-template #callAPIDialog>
        <div class="flex flex-auto justify-between overflow-hidden relative"
            *ngIf="showAllDocImg == 1 && ImagedocumentType=='alldocOpenImage'">
            <h2 matDialogTitle class="font-medium text-xl">viewImage</h2>
        </div>
        <div class="p-6 overflow-hidden max-w-full" style="width: 50vw;">
            <mat-icon svgIcon="mat_outline:close"
                style="color: red; cursor: pointer; position: absolute; z-index: 111; top: 25%; left: 74%;"
                matDialogClose="yes" (click)="close()"></mat-icon>
            <div class="max-w-10xl">
                <img style="height: 270px;"
                    class="position-relative maxwh cursorpointer" title=""
                    src="{{image}} " accept="image" />
            </div>
        </div>
    </ng-template>
</div>

