<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->


    <!-- Main -->
    <div *ngIf="Loader"  class="wrapper-loader mx-auto mt-6">
        <img class="wrapper-loader mx-auto"
            style="width: 100px; margin-left: auto; margin-right: auto;"
            src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
    </div>
    <div *ngIf="!Loader" class="flex-auto ">
        <div class="w-full p-6 mx-auto">
            <form [formGroup]="certificationForm" >
                <div class=" bg-card shadow rounded-2xl">
                        <div class=" flex justify-between  bg-gray-800 p-2 px-6" style="align-items: center;">
                            <span class="text-white font-medium" style="font-size: 17px;">Certification Form</span>
                            <button  class="rounded bg-white" mat-stroked-button (click)="back()">Back</button>
                        </div>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 pb-0 gap-y-0 w-full min-w-0">
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>Certification Name<span class="red">*</span></mat-label>
                                <input matInput formControlName="name" >
                                <mat-error *ngIf="certificationForm.get('name').hasError('required')">Please Enter
                                    certification Name</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>Category <span class="red">*</span></mat-label>
                                <mat-select formControlName="catType" >
                                    <mat-option *ngFor="let type of CategoryList" [value]="type.id">
                                        {{type.catname}}
                                      </mat-option>
                                </mat-select>
                                <mat-error *ngIf="certificationForm.get('catType').hasError('required')">Please Select
                                    category Type</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>Status<span class="red">*</span></mat-label>
                                <mat-select formControlName="status">
                                    <mat-option *ngFor="let status of status" [value]="status.id">
                                        {{status.name}}
                                      </mat-option>
                                </mat-select>
                              <mat-error *ngIf="certificationForm.get('status').hasError('required')">Please select
                                status</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>College</mat-label>
                                <mat-select  multiple formControlName="collegeid" (selectionChange)="changeColleges(certificationForm.value.collegeid)">
                                    <mat-option >
                                        <ngx-mat-select-search noEntriesFoundLabel="College not found, please enter valid college name"
                                        formControlName="search" placeholderLabel="search college name ..." (input)="getClgList()">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let item of collegeListData" [value]="item">
                                        {{item.title}} , {{item.cityname}}, {{item.statename}}
                                    </mat-option>
                                    <!-- <mat-option *ngIf="collegeListData == ''" value="0" >
                                        <span class="red">College not found, please enter valid college name</span>
                                     </mat-option> -->
                                </mat-select>
                              <!-- <mat-error *ngIf="certificationForm.get('collegeid').hasError('required')">Please select
                                college</mat-error> -->
                            </mat-form-field>
                            <div *ngIf="selectedColleges?.length != 0" class="rounded-lg bg-gray-200 p-6 mb-3">
                                <mat-label class="font-bold ">Selected Colleges:</mat-label>
                                <div class="flex flex-col flex-auto overflow-hidden" *ngFor="let item of selectedColleges; let i = index">
                                    <mat-label class="flex items-center justify-between">{{i+1}} : {{item.title}} , {{item.cityname}}, {{item.statename}}
                                         <mat-icon class="icon-size-5 text-red-500 ml-5" svgIcon="mat_outline:close" (click)="removeCollege(i , item.id)"  matTooltip="Remove college" matTooltipPosition="above"></mat-icon>
                                    </mat-label>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1  gap-6 px-6 gap-y-0 w-full min-w-0">
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-label class="mb-1 normallabel" >Description<span class="red">*</span></mat-label>
                            <angular-editor  formControlName="description" [config]="config"></angular-editor>
                        </div>
                    </div>
                    <div class="grid grid-cols-1  gap-6 px-6 py-3  gap-y-0 w-full min-w-0">
                        <div>
                            <span class="red">Note: Image must be in png or jpg format with dimension 1100px * 500px and must be within 100kb</span>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 pt-0 gap-y-0 w-full min-w-0">
                        <div class="flex flex-row items-center flex-auto overflow-hidden">
                            <div>
                                <input id="image-file-input1"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none bg-white"
                                    (change)="onFileChange($event,'certificationDocument',$event.target.files)"
                                    type="file" [multiple]="false"
                                    [accept]="'image/jpeg, image/png'" #imageFileInput1 />
                                    <label
                                    class="flex items-center justify-center w-28 h-10 text-black rounded cursor-pointer uplodBtn"
                                    for="image-file-input1" matRipple>
                                    <mat-icon svgIcon="mat_outline:add_photo_alternate"
                                        class="text-black w-4 h-4 min-w-0"></mat-icon>
                                    <span class="ml-1 mr-1 black">Upload<span class="red">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="showLoader" class="wrapper-loader ml-6">
                                <img class="img-fluid"
                                    style="width: 30px; margin-left: auto; margin-right: auto;"
                                    src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                            </div>
                            <div *ngIf="!showLoader" class="ml-4">
                                <div class="border rounded bg-gray-50"
                                    *ngIf="certificationForm.value.certificationDocument_FrontFilePath !=''">
                                    <img class="position-relative shadow-sm maxwh cursorpointer cover"
                                        style="object-fit: contain; height: 50px;"
                                        (click)="openImgDialog(certificationForm.value.certificationDocument_FrontFilePath)"
                                        src="{{certificationForm.value.certificationDocument_FrontFilePath}}"
                                        accept="image" />
                                </div>
                            </div>
                        </div>
                        <div class="flex  items-center flex-auto overflow-hidden justify-end ">
                        <button *ngIf="!updateButton" class="fuse-mat-button-rounded " mat-flat-button (click)="insertCertificationDetails()">
                            <span  *ngIf="!addLoader">Submit</span>
                            <div *ngIf="addLoader" class="wrapper-loader">
                                <img class="img-fluid"
                                    style="width: 30px; margin-left: auto; margin-right: auto;"
                                    src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                            </div>
                        </button>
                        <button *ngIf="updateButton" class="fuse-mat-button-rounded " mat-flat-button (click)="updateCertificationDetails()">
                            <span  *ngIf="!updateLoader">Update</span>
                            <div *ngIf="updateLoader" class="wrapper-loader">
                                <img class="img-fluid"
                                    style="width: 30px; margin-left: auto; margin-right: auto;"
                                    src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
                            </div>
                        </button>
                     </div>
                </div>
                </div>
            </form>
         </div>
    </div>
</div>
<div class="popcenter">
    <ng-template #callAPIDialog>
        <div class="flex flex-auto justify-between overflow-hidden relative"
            *ngIf="showAllDocImg == 1 && ImagedocumentType=='alldocOpenImage'">
            <h2 matDialogTitle class="font-medium text-xl">viewImage</h2>
        </div>
        <div class="p-6 overflow-hidden max-w-full" style="width: 50vw;">
            <mat-icon svgIcon="mat_outline:close"
                style="color: red; cursor: pointer; position: absolute; z-index: 111; top: 25%; left: 74%;"
                matDialogClose="yes" (click)="close()"></mat-icon>
            <div class="max-w-10xl">
                <img style="height: 270px;"
                    class="position-relative maxwh cursorpointer" title=""
                    src="{{image}} " accept="image" />
            </div>
        </div>
    </ng-template>
</div>
