<div class="flex flex-col flex-auto min-w-0">
    <div *ngIf="Loader" class="wrapper-loader mx-auto mt-6">
        <img class="wrapper-loader mx-auto" style="width: 100px; margin-left: auto; margin-right: auto;"
            src="assets/images/icons/page_loader_default5.gif" alt="" class="w30 rounded-full" />
    </div>
    <div *ngIf="!Loader" class="flex-auto ">
        <div class="w-full p-6 mx-auto">
            <form [formGroup]="cutoffForm">
                <div class=" bg-card shadow rounded-2xl">
                    <div class=" flex justify-between  bg-gray-800 p-1 px-6" style="align-items: center;">
                        <span class="text-white font-medium" style="font-size: 17px;">KCET CutOff</span>
                        <button class="rounded bg-white" mat-stroked-button (click)="back()">Back</button>
                    </div>


                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-3 pb-0 gap-y-0 w-full min-w-0 ">

                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>College<span class="red">*</span></mat-label>
                                <mat-select formControlName="collegeid" (ngModelChange)="getcollegeListData()">
                                    <mat-option>
                                        <!-- <ngx-mat-select-search class="dropsearch m-1" noEntriesFoundLabel="College not found, please enter valid college name"
                                            formControlName="search" placeholderLabel="search college name here..."  (keypress)="searchValue()"  >
                                            </ngx-mat-select-search> -->
                                        <ngx-mat-select-search class="dropsearch m-1"
                                            noEntriesFoundLabel="College not found, please enter valid college name"
                                            formControlName="search" placeholderLabel="search college name here..."
                                            (input)="searchValue($event.target.value)">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let item of collegeListData" [value]="item.id">
                                        {{item.title}}
                                    </mat-option>
                                    <mat-option *ngIf="collegeListData == null" value="0">
                                        <span class="red">College not found, please enter valid college name</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="cutoffForm.get('collegeid').hasError('required')">Please select
                                    college</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto overflow-hidden">

                            <mat-form-field class="w-full">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="contentcategory" (ngModelChange)="getCollegeCourses()">
                                    <mat-option *ngFor="let item of getCategoryListData" [value]="item.categoryid">
                                        {{item.catname}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="subLoader1" class="wrapper-loader ml-6">
                                    <img class="img-fluid" style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt=""
                                        class="w30 rounded-full" />
                                </div>
                                <!-- Display error message if contentcategory is required -->
                                <mat-error *ngIf="cutoffForm.get('contentcategory').hasError('required')">Please select
                                    a category</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>Course</mat-label>
                                <mat-select formControlName="course">
                                    <mat-option disabled
                                        *ngIf="!collegecourseListData || collegecourseListData.length === 0"
                                        style="color: red;">
                                        Data is not available
                                    </mat-option>
                                    <mat-option *ngFor="let item of collegecourseListData" [value]="item.courseid">
                                        {{ item.coursename }}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="subLoader2" class="wrapper-loader ml-6">
                                    <img class="img-fluid" style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt=""
                                        class="w30 rounded-full" />
                                </div>
                                <!-- <mat-error *ngIf="cutoffForm.get('course').hasError('required')">Please select course</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label>Round</mat-label>
                                <mat-select formControlName="rounded">
                                    <!-- Static options -->
                                    <mat-option value="1">Round 1</mat-option>
                                    <mat-option value="2">Round 2</mat-option>
                                    <mat-option value="3">Round 3</mat-option>

                                </mat-select>
                                <!-- Display error message if 'rounded' field is required -->
                                <mat-error *ngIf="cutoffForm.get('rounded').hasError('required')">Please select
                                    rounded</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col flex-auto overflow-hidden">
                            <mat-form-field class="w-full">
                                <mat-label> Year </mat-label>
                                <mat-select formControlName="year">
                                    <mat-option *ngFor="let year of years" [value]="year">
                                        {{ year }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="cutoffForm.get('year').hasError('required')">Please select
                                    year</mat-error>
                            </mat-form-field>
                        </div>


                    </div>


                    <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 gap-6 p-3 pb-0 gap-y-0 w-full min-w-0 " >
                        <mat-accordion class="custom-accordion mt-4">
                            <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpened()" (closed)="panelClosed()" >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category 1
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>1G</mat-label>
                                    <input matInput formControlName="oneG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>1H</mat-label>
                                    <input matInput formControlName="oneH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>1K</mat-label>
                                    <input matInput formControlName="oneK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>1KH</mat-label>
                                    <input matInput formControlName="oneKH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>1R</mat-label>
                                    <input matInput formControlName="oneR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>1RH</mat-label>
                                    <input matInput formControlName="oneRH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion class="custom-accordion mt-4">
                            <mat-expansion-panel [expanded]="panelOpenState1" (opened)="panelOpened1()" (closed)="panelClosed1()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category 2A
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>2AG</mat-label>
                                    <input matInput formControlName="twoAG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2AH</mat-label>
                                    <input matInput formControlName="twoAH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2AK</mat-label>
                                    <input matInput formControlName="twoAK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2AKH</mat-label>
                                    <input matInput formControlName="twoAKH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2AR</mat-label>
                                    <input matInput formControlName="twoAR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2ARH</mat-label>
                                    <input matInput formControlName="twoARH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>

                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-accordion class="custom-accordion mt-4">

                            <mat-expansion-panel  [expanded]="panelOpenState2" (opened)="panelOpened2()" (closed)="panelClosed2()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category 2B
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>2BG</mat-label>
                                    <input matInput formControlName="twoBG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2BH</mat-label>
                                    <input matInput formControlName="twoBH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2BK</mat-label>
                                    <input matInput formControlName="twoBK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2BKH</mat-label>
                                    <input matInput formControlName="twoBKH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2BR</mat-label>
                                    <input matInput formControlName="twoBR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>2BRH</mat-label>
                                    <input matInput formControlName="twoBRH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <mat-accordion class="custom-accordion mt-4" (keypress)="checkValidInputData($event,1)">

                            <mat-expansion-panel [expanded]="panelOpenState3" (opened)="panelOpened3()" (closed)="panelClosed3()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category 3A
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>3AG</mat-label>
                                    <input matInput formControlName="treeAG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3AH</mat-label>
                                    <input matInput formControlName="treeAH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3AK</mat-label>
                                    <input matInput formControlName="treeAK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3AKH</mat-label>
                                    <input matInput formControlName="treeAKH"
                                        (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3AR</mat-label>
                                    <input matInput formControlName="treeAR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3ARH</mat-label>
                                    <input matInput formControlName="treeARH">
                                </mat-form-field>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <mat-accordion class="custom-accordion mt-4">
                            <mat-expansion-panel  [expanded]="panelOpenState4" (opened)="panelOpened4()" (closed)="panelClosed4()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category 3B
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>3BG</mat-label>
                                    <input matInput formControlName="treeBG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3BH</mat-label>
                                    <input matInput formControlName="treeBH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3BK</mat-label>
                                    <input matInput formControlName="treeBK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3BKH</mat-label>
                                    <input matInput formControlName="treeBKH"
                                        (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3BR</mat-label>
                                    <input matInput formControlName="treeBR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>3BRH</mat-label>
                                    <input matInput formControlName="treeBRH"
                                        (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                            </mat-expansion-panel>

                        </mat-accordion>

                        <mat-accordion class="custom-accordion mt-4">
                            <mat-expansion-panel  [expanded]="panelOpenState5" (opened)="panelOpened5()" (closed)="panelClosed5()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category 3GM
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>GM</mat-label>
                                    <input matInput formControlName="GM" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>GMH</mat-label>
                                    <input matInput formControlName="GMH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>GMK</mat-label>
                                    <input matInput formControlName="GMK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>GMKH</mat-label>
                                    <input matInput formControlName="GMKH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>GMR</mat-label>
                                    <input matInput formControlName="GMR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>GMRH</mat-label>
                                    <input matInput formControlName="GMRH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <mat-accordion class="custom-accordion mt-4">

                            <mat-expansion-panel  [expanded]="panelOpenState6" (opened)="panelOpened6()" (closed)="panelClosed6()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category SC
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>SCG</mat-label>
                                    <input matInput formControlName="SCG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>SCH</mat-label>
                                    <input matInput formControlName="SCH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>SCK</mat-label>
                                    <input matInput formControlName="SCK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>SCKH</mat-label>
                                    <input matInput formControlName="SCKH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>SCR</mat-label>
                                    <input matInput formControlName="SCR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>SCRH</mat-label>
                                    <input matInput formControlName="SCRH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <mat-accordion class="custom-accordion mt-4">
                            <mat-expansion-panel  [expanded]="panelOpenState7" (opened)="panelOpened7()" (closed)="panelClosed7()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Category ST
                                    </mat-panel-title>

                                </mat-expansion-panel-header>
                                <mat-form-field class="w-full mt-4">
                                    <mat-label>STG</mat-label>
                                    <input matInput formControlName="STG" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>STH</mat-label>
                                    <input matInput formControlName="STH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>STK</mat-label>
                                    <input matInput formControlName="STK" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>STKH</mat-label>
                                    <input matInput formControlName="STKH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>STR</mat-label>
                                    <input matInput formControlName="STR" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>STRH</mat-label>
                                    <input matInput formControlName="STRH" (keypress)="checkValidInputData($event,1)">
                                </mat-form-field>
                            </mat-expansion-panel>

                        </mat-accordion>




                    </div>






                    <div class="grid grid-cols-1 gap-6 p-8 pt-6 gap-y-0 w-full min-w-0">
                        <div class="flex  items-center flex-auto overflow-hidden justify-end ">
                            <button *ngIf="!updateButton" class="fuse-mat-button-rounded" mat-flat-button
                                (click)="summittableDetails()">
                                <span *ngIf="!addLoader">Submit</span>
                                <div *ngIf="addLoader" class="wrapper-loader">
                                    <img class="img-fluid" style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt=""
                                        class="w30 rounded-full" />
                                </div>
                            </button>
                            <button *ngIf="updateButton" class="fuse-mat-button-rounded" mat-flat-button
                                (click)="updatetableDetails()">
                                <span *ngIf="!updateLoader">Update</span>
                                <div *ngIf="updateLoader" class="wrapper-loader">
                                    <img class="img-fluid" style="width: 30px; margin-left: auto; margin-right: auto;"
                                        src="assets/images/icons/page_loader_default5.gif" alt=""
                                        class="w30 rounded-full" />
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
